@charset "UTF-8";
.hidden-sp {
  display: none;
}
@media screen and (min-width: 768px) {
  .hidden-sp {
    display: block;
  }
}

.hidden-pc {
  display: block;
}
@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

.hidden-sp-text {
  display: none;
}
@media screen and (min-width: 768px) {
  .hidden-sp-text {
    display: inline-block;
  }
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

picture {
  display: block;
}

body {
  font-family: "Noto Sans JP", "Noto Sans";
  color: #724000;
}
body p,
body a {
  font-weight: 400;
}
body.is-fixed {
  overflow: hidden;
}

a {
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
}

.inner {
  max-width: 1260px;
  padding-inline: clamp(1.25rem, 0.5357142857rem + 1.4880952381vw, 1.875rem);
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-block: clamp(4rem, 1.9642857143rem + 4.2410714286vw, 5.78125rem);
}

.heading-title {
  font-size: clamp(1rem, -0.7142857143rem + 3.5714285714vw, 2.5rem);
  font-family: "Sawarabi Gothic";
  position: relative;
  z-index: 0;
  text-align: center;
}

.heading-title-en {
  font-family: "Dawning of a New Day";
  font-size: clamp(2.5rem, -1.7857142857rem + 8.9285714286vw, 6.25rem);
  line-height: 2;
  position: absolute;
  top: -22px;
  z-index: -1;
  color: #c2ae96;
}
@media screen and (min-width: 768px) {
  .heading-title-en {
    top: -53px;
  }
}

.wave-item {
  height: clamp(0.40625rem, -1.09375rem + 3.125vw, 1.71875rem);
  width: 100%;
  position: relative;
  z-index: 1;
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
}
.fade-in.is-in-view {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide-in {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
}
.slide-in.is-in-view {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wrapper {
  background: url("../img/background_img.png") no-repeat center center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  background-attachment: fixed;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  font-family: "Sawarabi Gothic";
  -webkit-transition: visibility 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: visibility 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: visibility 0.3s ease, background-color 0.3s ease, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: visibility 0.3s ease, background-color 0.3s ease, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media screen and (min-width: 768px) {
  .header {
    background: #eee7e2;
  }
}
.header.header-follow {
  position: fixed;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: visibility 0.3s ease, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: visibility 0.3s ease, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header.header-follow.is-show {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .header .drawer-open__wrapper {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-follow .drawer-open__wrapper {
    display: block;
  }
  .header-follow .header__nav {
    display: none;
  }
}
.header-follow .header__inner {
  padding-top: clamp(0.875rem, 0.1607142857rem + 1.4880952381vw, 1.5rem);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: clamp(0.875rem, 0.1607142857rem + 1.4880952381vw, 1.5rem);
  padding-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header__logo,
.drawer-content__logo {
  font-size: clamp(1.5rem, 0.9285714286rem + 1.1904761905vw, 2rem);
  line-height: 1.5;
  letter-spacing: clamp(-0.0285rem, -0.0176428571rem - 0.0226190476vw, -0.038rem);
  font-family: "Poiret One";
  height: 100%;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-right: 40px;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}
.header__nav-item a {
  position: relative;
}
.header__nav-item a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.service__nav-link:hover .service__item-link {
  opacity: 1;
  pointer-events: auto;
}

.service__item-link {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 230px;
  background-color: #eee7e2;
  padding: 24px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.service__item-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.service-link__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.service-link__column a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding-left: 19px;
  position: relative;
  white-space: nowrap;
}
.service-link__column a::after {
  content: ">";
  position: absolute;
  right: 0;
  bottom: auto;
  height: auto;
  color: #724000;
}

.header__nav-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-contact-item,
.drawer-contact__item {
  padding: 39px 52px 40px 62px;
  white-space: nowrap;
}
.header__nav-contact-item:nth-child(1),
.drawer-contact__item:nth-child(1) {
  background-color: #c2ae96;
}
.header__nav-contact-item:nth-child(2),
.drawer-contact__item:nth-child(2) {
  color: #fafafa;
  background-color: #724000;
  padding: 39px 42px 40px 42px;
}

.drawer-open__wrapper {
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .drawer-open__wrapper {
    position: absolute;
    right: 120px;
  }
}

.header__open {
  width: 24px;
  height: 16px;
  pointer-events: auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__open {
    position: static;
  }
}
.header__open.is-checked .header__btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  left: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__open.is-checked .header__btn-line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
  left: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__open.is-checked .header__btn-line:nth-child(3) {
  opacity: 0;
}

.header__btn-line {
  width: 24px;
  height: 3px;
  position: absolute;
  left: 0;
  background: #724000;
  display: block;
  margin-left: auto;
}
.header__btn-line:nth-child(1) {
  top: 0;
}
.header__btn-line:nth-child(2) {
  width: 20px;
  top: 8px;
  margin-left: 4px;
}
.header__btn-line:nth-child(3) {
  width: 16px;
  top: 16px;
  margin-left: 8px;
}

.drawer__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eee7e2;
  background-attachment: fixed;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 900;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .drawer__content {
    background: url("../img/background_img.png") no-repeat center center;
    padding-bottom: 0;
  }
}
.drawer__content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .drawer__inner {
    margin-top: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}

.drawer-content__logo {
  padding-block: 14px;
}

.drawer-content__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 40px;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .drawer-content__nav {
    margin-top: 0;
    margin-left: 330px;
  }
}

.drawer-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .drawer-contact__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.drawer-contact__item {
  padding-block: 12px;
  text-align: center;
}
.drawer-contact__item:nth-child(2) {
  margin-top: 12px;
  padding-block: 12px;
}
@media screen and (min-width: 768px) {
  .drawer-contact__item:nth-child(2) {
    margin-top: 0;
  }
}

.drawer-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .drawer-content__list {
    text-align: center;
    gap: 24px;
  }
}

.drawer-content__link {
  padding-bottom: 16px;
  border-bottom: 1px solid #c2ae96;
}
.drawer-content__link a {
  font-size: clamp(0.9375rem, 0.8660714286rem + 0.1488095238vw, 1rem);
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .drawer-content__link a {
    font-weight: normal;
  }
}

.drawer__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  right: 20px;
}

.drawer__close-line {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background: #724000;
}
.drawer__close-line:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer__close-line:nth-child(2) {
  top: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drawer-animation__item {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  opacity: 0; /* 最初は透明 */
}
.drawer-animation__item.is-animated {
  opacity: 1;
  -webkit-animation: bird-animation 2s ease-in-out forwards;
          animation: bird-animation 2s ease-in-out forwards; /* forwardsを追加して最後のフレームで停止 */
}
@-webkit-keyframes bird-animation {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  5% {
    -webkit-transform: translate(-150%, 10%) scale(1.2);
            transform: translate(-150%, 10%) scale(1.2);
  }
  10% {
    -webkit-transform: translate(-300%, 20%) scale(1.5);
            transform: translate(-300%, 20%) scale(1.5);
  }
  15% {
    -webkit-transform: translate(-350%, 30%) scale(1.6);
            transform: translate(-350%, 30%) scale(1.6);
  }
  20% {
    -webkit-transform: translate(-400%, 50%) scale(1.7);
            transform: translate(-400%, 50%) scale(1.7);
  }
  25% {
    -webkit-transform: translate(-450%, 100%) scale(1.8);
            transform: translate(-450%, 100%) scale(1.8);
  }
  35% {
    -webkit-transform: translate(-500%, 150%) scale(2);
            transform: translate(-500%, 150%) scale(2);
  }
  50% {
    -webkit-transform: translate(-600%, 200%) scale(2.4);
            transform: translate(-600%, 200%) scale(2.4);
  }
  60% {
    -webkit-transform: translate(-650%, 250%) scale(2);
            transform: translate(-650%, 250%) scale(2);
  }
  75% {
    -webkit-transform: translate(-800%, 300%) scale(1.5);
            transform: translate(-800%, 300%) scale(1.5);
  }
  85% {
    -webkit-transform: translate(-900%, 350%) scale(1.3);
            transform: translate(-900%, 350%) scale(1.3);
  }
  100% {
    -webkit-transform: translate(-1000%, 400%) scale(1.2);
            transform: translate(-1000%, 400%) scale(1.2);
  }
}
@keyframes bird-animation {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  5% {
    -webkit-transform: translate(-150%, 10%) scale(1.2);
            transform: translate(-150%, 10%) scale(1.2);
  }
  10% {
    -webkit-transform: translate(-300%, 20%) scale(1.5);
            transform: translate(-300%, 20%) scale(1.5);
  }
  15% {
    -webkit-transform: translate(-350%, 30%) scale(1.6);
            transform: translate(-350%, 30%) scale(1.6);
  }
  20% {
    -webkit-transform: translate(-400%, 50%) scale(1.7);
            transform: translate(-400%, 50%) scale(1.7);
  }
  25% {
    -webkit-transform: translate(-450%, 100%) scale(1.8);
            transform: translate(-450%, 100%) scale(1.8);
  }
  35% {
    -webkit-transform: translate(-500%, 150%) scale(2);
            transform: translate(-500%, 150%) scale(2);
  }
  50% {
    -webkit-transform: translate(-600%, 200%) scale(2.4);
            transform: translate(-600%, 200%) scale(2.4);
  }
  60% {
    -webkit-transform: translate(-650%, 250%) scale(2);
            transform: translate(-650%, 250%) scale(2);
  }
  75% {
    -webkit-transform: translate(-800%, 300%) scale(1.5);
            transform: translate(-800%, 300%) scale(1.5);
  }
  85% {
    -webkit-transform: translate(-900%, 350%) scale(1.3);
            transform: translate(-900%, 350%) scale(1.3);
  }
  100% {
    -webkit-transform: translate(-1000%, 400%) scale(1.2);
            transform: translate(-1000%, 400%) scale(1.2);
  }
}

.fv {
  position: relative;
  width: 100%;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fv .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 768px) {
  .fv .swiper-slide img {
    min-height: 600px;
    height: 100%;
  }
}
.fv .slide-black {
  -o-object-position: 80% center !important;
     object-position: 80% center !important;
}

.swiper {
  position: relative;
  margin-top: 31px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-animation: fadeIn 3s ease forwards;
          animation: fadeIn 3s ease forwards;
}
@media screen and (min-width: 768px) {
  .swiper {
    margin-top: 0;
    width: 96.3333333333%;
  }
}

.swiper-pagination {
  display: none !important;
  position: absolute;
  bottom: 50% !important;
  left: 26px !important;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .swiper-pagination {
    display: block !important;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #c2ae96 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #724000 !important;
}

.fv__lead {
  position: absolute;
  top: 219px;
  text-align: center;
  z-index: 2;
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  .fv__lead {
    bottom: clamp(5rem, -1.5rem + 13.5416666667vw, 10.6875rem);
    top: auto;
  }
}

.fv__lead-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}
@media screen and (min-width: 768px) {
  .fv__lead-text {
    gap: 50px;
  }
}

.fv__lead-text-en {
  font-size: clamp(2.3125rem, -0.0446428571rem + 4.9107142857vw, 4.375rem);
  line-height: 0.5135135135;
  letter-spacing: 1.85px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .fv__lead-text-en {
    line-height: 0.7142857143;
    letter-spacing: 3.5px;
  }
}

.fv__lead-text-ja {
  font-size: clamp(1.875rem, 1.1607142857rem + 1.4880952381vw, 2.5rem);
  line-height: 1.6666666667;
  letter-spacing: 1.5px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .fv__lead-text-ja {
    line-height: 1.25;
    letter-spacing: 2px;
  }
}

.fv__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.fv-text__wrapper {
  position: absolute;
  top: 45%;
  right: 10.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  z-index: 2;
}

.fv__heading {
  font-size: clamp(1rem, -0.7142857143rem + 3.5714285714vw, 2.5rem);
  line-height: 1.2;
  font-family: "Sawarabi Gothic";
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-animation: fadeIn-heading 3s ease forwards;
          animation: fadeIn-heading 3s ease forwards;
  text-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .fv__heading {
    letter-spacing: 8px;
  }
}

@-webkit-keyframes fadeIn-heading {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn-heading {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fv__heading1 {
  display: block;
}

.fv__heading2 {
  display: block;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .fv__heading2 {
    margin-top: 231px;
    margin-right: 13px;
  }
}

.side-bar {
  display: none;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  width: 49px;
}
@media screen and (min-width: 768px) {
  .side-bar {
    display: block;
  }
}

.side-bar__inner {
  height: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar__contents-item {
  font-size: 12px;
  line-height: 1.2;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.side-bar__contents-item:hover {
  opacity: 0.5;
}
.side-bar__contents-item a {
  color: #724000;
}

.side-bar-sns__wrapper {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-bar-sns__item {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.side-bar-sns__item:hover {
  opacity: 0.5;
}
.side-bar-sns__item img {
  width: 24px;
  height: 24px;
}

.side-bar-contact__link {
  margin-top: 8px;
  position: relative;
  background-color: #724000;
  padding: 48px 16px 16px 16px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  overflow: hidden; /* アニメーション中に内容が溢れないようにする */
  z-index: 1;
  /* 初期状態の幅を設定 */
  width: 60px;
  height: auto; /* 高さは内容に合わせて自動調整 */
}
.side-bar-contact__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #724000;
  z-index: -1;
  -webkit-transition: left 0.3s ease-out, opacity 0.1s ease-out 0.2s;
  transition: left 0.3s ease-out, opacity 0.1s ease-out 0.2s;
}
.side-bar-contact__link:hover {
  background-color: transparent;
  width: 60px; /* ホバー時に横に広がる */
}
.side-bar-contact__link:hover::before {
  left: 100%;
  opacity: 0;
}
.side-bar-contact__link:hover::after {
  -webkit-transform: translate(3px, -3px);
          transform: translate(3px, -3px);
  background-image: url("../img/contact-link_plane-hover.png");
}
.side-bar-contact__link:hover a {
  color: #724000;
  opacity: 1;
}
.side-bar-contact__link a {
  color: #fafafa;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.side-bar-contact__link::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 18px;
  width: 24px;
  height: 24px;
  background: url("../img/contact-link_plane.png") no-repeat center center;
  background-size: contain;
}

.news__inner {
  position: relative;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news__inner {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .news__inner {
    padding-bottom: 0;
  }
}

.news-content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.5rem, -1.0714285714rem + 5.3571428571vw, 3.75rem);
}
@media screen and (min-width: 768px) {
  .news-content__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .news__heading {
    text-align: left;
  }
}

.news__heading-en {
  right: 36%;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -moz-text-align-last: left;
       text-align-last: left;
}

.news__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .news__item a {
    gap: 52px;
  }
}

.news__date {
  font-size: clamp(0.875rem, 0.7321428571rem + 0.2976190476vw, 1rem);
  font-weight: 700;
  letter-spacing: 0.64px;
}
@media screen and (min-width: 768px) {
  .news__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news__title {
  font-size: clamp(0.875rem, 0.7321428571rem + 0.2976190476vw, 1rem);
  letter-spacing: 1.8;
}

.link__button {
  position: relative;
  display: inline-block;
  background-color: #724000;
  color: #fafafa;
  padding: 13px 48px 13px 83px;
  overflow: hidden;
  z-index: 101;
  -webkit-transition: width 0.78s cubic-bezier(0, 1.02, 0.91, 1.01), background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: width 0.78s cubic-bezier(0, 1.02, 0.91, 1.01), background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.link__button a {
  display: block;
  color: inherit;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.link__button a:hover {
  opacity: 1;
}
.link__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #724000;
  z-index: -1;
  -webkit-transition: left 0.78s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.3s ease-in-out;
  transition: left 0.78s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.3s ease-in-out;
}
.link__button::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "";
  display: inline-block;
  width: 32px;
  height: 1px;
  background-color: #fafafa;
  -webkit-transition: background-color 0.3s ease-in-out, left 0.3s ease-out;
  transition: background-color 0.3s ease-in-out, left 0.3s ease-out;
}
.link__button:hover {
  color: #724000;
  background-color: transparent;
}
.link__button:hover::before {
  left: 100%;
  opacity: 0;
  -webkit-transition: left 0.78s cubic-bezier(0, 1.02, 0.91, 1.01), opacity 0.78s ease-in-out 0.1s;
  transition: left 0.78s cubic-bezier(0, 1.02, 0.91, 1.01), opacity 0.78s ease-in-out 0.1s;
}
.link__button:hover::after {
  background-color: #724000;
  left: 30px;
}
.link__button:not(:hover) {
  color: #fafafa;
  background-color: #724000;
  opacity: 1;
  -webkit-transition: background-color 0.78s ease;
  transition: background-color 0.78s ease;
}
.link__button:not(:hover)::before {
  left: 0;
  opacity: 1;
  -webkit-transition: left 0.78s cubic-bezier(0, 1.02, 0.91, 1.01), opacity 0.3s ease-in-out 0.1s;
  transition: left 0.78s cubic-bezier(0, 1.02, 0.91, 1.01), opacity 0.3s ease-in-out 0.1s;
}

.news-link__button {
  margin-top: 16px;
  padding: 13px 34px 13px 45px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .news-link__button {
    margin-right: 56px;
    padding: 13px 48px 13px 83px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.concept__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.concept-animation__item {
  position: absolute;
}

.concept-animation__item--1 {
  top: -5%;
  right: -100px; /* 初期位置を画面の外（右端）にする */
}
.concept-animation__item--1.is-animated {
  -webkit-animation: fly 2s linear forwards 1;
          animation: fly 2s linear forwards 1;
}
.concept-animation__item--1 img {
  width: 116.3px;
  height: 53.81px;
  -webkit-transform: rotate(18.326deg);
          transform: rotate(18.326deg);
  aspect-ratio: 116.3/53.81;
}

.concept-animation__item--2 {
  top: 50%;
  right: 15%;
}
.concept-animation__item--2.is-animated {
  -webkit-animation: floating-2 4s linear forwards;
          animation: floating-2 4s linear forwards;
}
.concept-animation__item--2 img {
  width: 111.933px;
  height: 46px;
  aspect-ratio: 111.93/46;
}

.concept-animation__item--3 {
  top: 25%;
  left: 15%;
}
.concept-animation__item--3.is-animated {
  -webkit-animation: floating-1 4s linear forwards;
          animation: floating-1 4s linear forwards;
}
.concept-animation__item--3 img {
  width: 65.692px;
  height: 61px;
  aspect-ratio: 65.69/61;
}

.concept-animation__item--4 {
  top: 70%;
  left: 20%;
}
.concept-animation__item--4.is-animated {
  -webkit-animation: floating-1 4s linear forwards;
          animation: floating-1 4s linear forwards;
}
.concept-animation__item--4 img {
  width: 70.56px;
  height: 36px;
  aspect-ratio: 70.56/36;
}

@-webkit-keyframes floating-1 {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(-30px) translateY(100px) rotate(-10deg);
            transform: translateX(-30px) translateY(100px) rotate(-10deg);
  }
  50% {
    -webkit-transform: translateX(100px) translateY(200px) rotate(10deg);
            transform: translateX(100px) translateY(200px) rotate(10deg);
  }
  75% {
    -webkit-transform: translateX(-50px) translateY(300px) rotate(-10deg);
            transform: translateX(-50px) translateY(300px) rotate(-10deg);
  }
  100% {
    -webkit-transform: translateX(0) translateY(400px) rotate(0deg);
            transform: translateX(0) translateY(400px) rotate(0deg);
  }
}

@keyframes floating-1 {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(-30px) translateY(100px) rotate(-10deg);
            transform: translateX(-30px) translateY(100px) rotate(-10deg);
  }
  50% {
    -webkit-transform: translateX(100px) translateY(200px) rotate(10deg);
            transform: translateX(100px) translateY(200px) rotate(10deg);
  }
  75% {
    -webkit-transform: translateX(-50px) translateY(300px) rotate(-10deg);
            transform: translateX(-50px) translateY(300px) rotate(-10deg);
  }
  100% {
    -webkit-transform: translateX(0) translateY(400px) rotate(0deg);
            transform: translateX(0) translateY(400px) rotate(0deg);
  }
}
@-webkit-keyframes floating-2 {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
  10% {
    -webkit-transform: translateX(-45px) translateY(120px) rotate(-10deg);
            transform: translateX(-45px) translateY(120px) rotate(-10deg);
  }
  40% {
    -webkit-transform: translateX(45px) translateY(220px) rotate(10deg);
            transform: translateX(45px) translateY(220px) rotate(10deg);
  }
  80% {
    -webkit-transform: translateX(-45px) translateY(340px) rotate(-10deg);
            transform: translateX(-45px) translateY(340px) rotate(-10deg);
  }
  100% {
    -webkit-transform: translateX(0) translateY(500px) rotate(0deg);
            transform: translateX(0) translateY(500px) rotate(0deg);
  }
}
@keyframes floating-2 {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
  10% {
    -webkit-transform: translateX(-45px) translateY(120px) rotate(-10deg);
            transform: translateX(-45px) translateY(120px) rotate(-10deg);
  }
  40% {
    -webkit-transform: translateX(45px) translateY(220px) rotate(10deg);
            transform: translateX(45px) translateY(220px) rotate(10deg);
  }
  80% {
    -webkit-transform: translateX(-45px) translateY(340px) rotate(-10deg);
            transform: translateX(-45px) translateY(340px) rotate(-10deg);
  }
  100% {
    -webkit-transform: translateX(0) translateY(500px) rotate(0deg);
            transform: translateX(0) translateY(500px) rotate(0deg);
  }
}
@-webkit-keyframes floating-3 {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
  10% {
    -webkit-transform: translateX(50px) translateY(100px) rotate(20deg);
            transform: translateX(50px) translateY(100px) rotate(20deg);
  }
  40% {
    -webkit-transform: translateX(-45px) translateY(220px) rotate(-10deg);
            transform: translateX(-45px) translateY(220px) rotate(-10deg);
  }
  80% {
    -webkit-transform: translateX(45px) translateY(440px) rotate(10deg);
            transform: translateX(45px) translateY(440px) rotate(10deg);
  }
  100% {
    -webkit-transform: translateX(0) translateY(600px) rotate(0deg);
            transform: translateX(0) translateY(600px) rotate(0deg);
  }
}
@keyframes floating-3 {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
  10% {
    -webkit-transform: translateX(50px) translateY(100px) rotate(20deg);
            transform: translateX(50px) translateY(100px) rotate(20deg);
  }
  40% {
    -webkit-transform: translateX(-45px) translateY(220px) rotate(-10deg);
            transform: translateX(-45px) translateY(220px) rotate(-10deg);
  }
  80% {
    -webkit-transform: translateX(45px) translateY(440px) rotate(10deg);
            transform: translateX(45px) translateY(440px) rotate(10deg);
  }
  100% {
    -webkit-transform: translateX(0) translateY(600px) rotate(0deg);
            transform: translateX(0) translateY(600px) rotate(0deg);
  }
}
@-webkit-keyframes fly {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(-25vw) translateY(30px) rotate(-5deg);
            transform: translateX(-25vw) translateY(30px) rotate(-5deg);
  }
  50% {
    -webkit-transform: translateX(-50vw) translateY(-30px) rotate(-10deg);
            transform: translateX(-50vw) translateY(-30px) rotate(-10deg);
  }
  75% {
    -webkit-transform: translateX(-75vw) translateY(20px) rotate(-15deg);
            transform: translateX(-75vw) translateY(20px) rotate(-15deg);
  }
  100% {
    -webkit-transform: translateX(-100vw) translateY(-50px) rotate(-20deg);
            transform: translateX(-100vw) translateY(-50px) rotate(-20deg);
  }
}
@keyframes fly {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotate(0deg);
            transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    -webkit-transform: translateX(-25vw) translateY(30px) rotate(-5deg);
            transform: translateX(-25vw) translateY(30px) rotate(-5deg);
  }
  50% {
    -webkit-transform: translateX(-50vw) translateY(-30px) rotate(-10deg);
            transform: translateX(-50vw) translateY(-30px) rotate(-10deg);
  }
  75% {
    -webkit-transform: translateX(-75vw) translateY(20px) rotate(-15deg);
            transform: translateX(-75vw) translateY(20px) rotate(-15deg);
  }
  100% {
    -webkit-transform: translateX(-100vw) translateY(-50px) rotate(-20deg);
            transform: translateX(-100vw) translateY(-50px) rotate(-20deg);
  }
}
.concept__heading-message {
  font-size: clamp(0.875rem, 0.4464285714rem + 0.8928571429vw, 1.25rem);
  line-height: 2;
  text-align: center;
  max-width: 472px;
}

.concept__img {
  margin-top: clamp(4rem, -0.7857142857rem + 9.9702380952vw, 8.1875rem);
  max-width: 851px;
}

.service {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#eee7e2));
  background-image: linear-gradient(to bottom, transparent, #eee7e2);
  position: relative;
}
.service::after {
  content: "";
  position: absolute;
  bottom: -83%;
  left: 0;
  min-width: 120px;
  width: 22.0833333333%;
  height: 100%;
  background-image: url("../img/gallery-background_img.png");
  background-size: contain;
  z-index: 0;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.service::after.is-checked {
  -webkit-animation: slideIn 1s ease forwards;
          animation: slideIn 1s ease forwards;
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.service__inner {
  max-width: 860px;
  text-align: center;
}

.service__heading-en {
  right: 24%;
}

.service-content__wrapper {
  margin-top: clamp(3.125rem, -1.2321428571rem + 9.0773809524vw, 6.9375rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(3.125rem, -0.9464285714rem + 8.4821428571vw, 6.6875rem);
}

.service-content__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}
.service-content__item img {
  border-radius: 8px;
}

.service-content__item.odd {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.service-content__item.odd.is-animated {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.service-content__item.odd .service-content__img {
  margin-left: auto;
}

.service-content__item.even {
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.service-content__item.even.is-animated {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.service-content__item.even .service-content__img {
  margin-right: auto;
}
.service-content__item.even .service-content__title {
  right: auto;
  left: 0;
}
.service-content__item.even .service__link {
  left: 2%;
}

.service-content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0px 0px 10px #f5f5f5;
  position: absolute;
  top: -12%;
  right: 0;
}
@media screen and (min-width: 768px) {
  .service-content__title {
    top: -51px;
  }
}

.service-content__title-number {
  font-size: 30px;
}
@media screen and (min-width: 600px) {
  .service-content__title-number {
    font-size: 70px;
  }
}
@media screen and (min-width: 768px) {
  .service-content__title-number {
    font-size: 70px;
  }
}

.service-content__title-ja {
  font-size: 20px;
  line-height: 1.16;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 2px;
}
@media screen and (min-width: 600px) {
  .service-content__title-ja {
    font-size: 50px;
  }
}
@media screen and (min-width: 768px) {
  .service-content__title-ja {
    font-size: 50px;
  }
}

.service-content__img {
  width: 79.75%;
}
.service-content__img img {
  height: auto;
}
@media screen and (min-width: 768px) {
  .service-content__img img {
    height: 425px;
  }
}

.service__link {
  width: clamp(1.5rem, -0.6428571429rem + 4.4642857143vw, 3.375rem);
  height: clamp(1.5rem, -0.6428571429rem + 4.4642857143vw, 3.375rem);
  position: absolute;
  right: 2%;
  bottom: 2%;
  background-image: url("../img/arrow-icon.png");
  background-size: contain;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.service__link:hover {
  opacity: 0.7;
}
.service__link:hover .arrow {
  -webkit-transform: translate(-25%, -50%) rotate(45deg);
          transform: translate(-25%, -50%) rotate(45deg);
}

.service-link__button {
  margin-top: clamp(2rem, -1.9285714286rem + 8.1845238095vw, 5.4375rem);
}

.service-wave {
  background-color: #ededed;
}
.service-wave::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/background-wave-service.png");
  background-size: contain;
}

.gallery {
  position: relative;
  background-color: #ededed;
}

.gallery__heading-en {
  right: 32%;
}

.gallery__slider {
  overflow: visible;
  margin-inline: calc(50% - 50vw);
}
@media screen and (min-width: 768px) {
  .gallery__slider {
    margin-top: 142px;
  }
}
.gallery__slider .swiper {
  width: 100%;
  height: auto;
}
.gallery__slider .swiper-slide.even {
  margin-top: 44px;
}
.gallery__slider img {
  height: auto;
}

.gallery-sns__link {
  margin-top: clamp(1.5rem, -4.3571428571rem + 12.2023809524vw, 6.625rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.gallery-sns__link-text {
  font-size: clamp(1rem, 0.7142857143rem + 0.5952380952vw, 1.25rem);
  line-height: 1.2;
}

.gallery-sns__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16 px;
}

.gallery-sns__link-icon {
  width: clamp(2rem, 0.8571428571rem + 2.380952381vw, 3rem);
  height: clamp(2rem, 0.8571428571rem + 2.380952381vw, 3rem);
}

.gallery-wave {
  background-color: #afc3b2;
}
.gallery-wave::before {
  content: "";
  position: absolute;
  bottom: 0.5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/background-wave-gallery.png");
  background-size: contain;
}

.staff {
  padding-top: 52.5px;
  background-color: #afc3b2;
  padding-bottom: 65px;
}

.staff__heading-en {
  right: 32%;
}

.staff__heading-message {
  margin-top: 24px;
  text-align: center;
}

.staff-content__wrapper {
  margin-top: clamp(1.5rem, -2.5rem + 8.3333333333vw, 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.5rem, -1.7142857143rem + 6.6964285714vw, 4.3125rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .staff-content__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.staff-content__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 74.0298507463%;
}
@media screen and (min-width: 768px) {
  .staff-content__item {
    width: auto;
  }
}

.staff-wave {
  background-color: #ededed;
}
.staff-wave::before {
  content: "";
  position: absolute;
  bottom: 0.5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/background-wave-staff.png");
  background-size: contain;
}

.access {
  background-color: #ededed;
}

.access__heading-en {
  right: 32%;
}

.access-content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: clamp(1.5rem, -8.7857142857rem + 21.4285714286vw, 10.5rem);
  max-width: 74.0298507463%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .access-content__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: clamp(1.5rem, -1.3571428571rem + 5.9523809524vw, 4rem);
    max-width: 100%;
  }
}

.access-content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1.5rem, -3.2142857143rem + 9.8214285714vw, 5.625rem);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .access-content__left {
    width: 64.2666666667%;
  }
}

.access-content__logo {
  font-size: 32px;
  font-family: "Poiret One";
  line-height: 1.5;
  letter-spacing: -0.608px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .access-content__logo {
    text-align: left;
  }
}

.access-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  font-size: clamp(0.9375rem, 0.7232142857rem + 0.4464285714vw, 1.125rem);
  line-height: 1.4;
}

.access-content__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .access-content__info-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 35px;
  }
}
.access-content__info-item dt {
  width: 126px;
}

.access-content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1.5rem, -7.3571428571rem + 18.4523809524vw, 9.25rem);
}

@media screen and (min-width: 1200px) {
  .access-content__map {
    margin-right: 225px;
  }
}

.access-content__map-text {
  font-size: 12px;
  line-height: 1.4;
  text-align: right;
  margin-top: 8px;
}

.access-content-text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  font-size: 18px;
  line-height: 1.7;
}

.access-content__text {
  letter-spacing: 1.62px;
  font-size: 12px;
}

.contact {
  padding-top: 80px;
  background-color: #eee7e2;
  padding-bottom: 60px;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 838px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form__text {
  font-size: 32px;
  letter-spacing: 1.28px;
}

.contact-form__sub-text {
  font-size: 20px;
  letter-spacing: 0.8px;
}

.contact-link__button {
  text-wrap: nowrap;
}

.l-contact__head,
.l-contact__button {
  opacity: 0;
}

@-webkit-keyframes view-slidein-r {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes view-slidein-r {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes view-slidein-l {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes view-slidein-l {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* is-active クラスが付いたらアニメーションを実行 */
.l-contact.is-active .l-contact__head {
  -webkit-animation: view-slidein-l 0.8s ease-out both;
          animation: view-slidein-l 0.8s ease-out both;
}

.l-contact.is-active .l-contact__button {
  -webkit-animation: view-slidein-r 0.8s ease-out both;
          animation: view-slidein-r 0.8s ease-out both;
}

.l-contact {
  background: #eee7e2;
  padding-top: clamp(4rem, 2.8571428571rem + 2.380952381vw, 5rem);
}

.l-contact__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10%;
}
@media screen and (min-width: 768px) {
  .l-contact__contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.l-contact__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
@media screen and (min-width: 768px) {
  .l-contact__head {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.l-contact__head img {
  width: 40px;
  height: 40px;
}

.l-contact__head-text {
  color: #724000;
}

.l-contact__head-en {
  font-family: "Noto Sans";
  font-size: clamp(1.25rem, 0.3928571429rem + 1.7857142857vw, 2rem);
  font-weight: 500;
  letter-spacing: 1.28px;
}

.l-contact__head-ja {
  margin-top: 5px;
  font-size: clamp(1rem, 0.7142857143rem + 0.5952380952vw, 1.25rem);
  font-weight: 400;
  letter-spacing: clamp(0.04rem, 0.0285714286rem + 0.0238095238vw, 0.05rem);
}
@media screen and (min-width: 768px) {
  .l-contact__head-ja {
    margin-top: 0;
  }
}

.l-contact__button {
  position: relative;
  margin-top: 23px;
}
@media screen and (min-width: 768px) {
  .l-contact__button {
    margin-top: 0;
  }
}
.l-contact__button::after {
  content: "";
  position: absolute;
  width: clamp(1.25rem, 0.3928571429rem + 1.7857142857vw, 2rem);
  height: 1px;
  background: #724000;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  -webkit-transition: background-color 0.3s, left 0.3s ease-out;
  transition: background-color 0.3s, left 0.3s ease-out;
}
.l-contact__button a {
  display: block;
  border: 1px solid #724000;
  padding: 16px clamp(1.875rem, 0.5892857143rem + 2.6785714286vw, 3rem);
  color: #724000;
  text-align: center;
  font-family: "Noto Sans JP";
  font-weight: 500;
  line-height: 100%; /* 16px */
  overflow: hidden;
  z-index: 2;
  position: relative;
}
.l-contact__button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #724000;
  z-index: -1;
  -webkit-transition: left 0.3s ease-out, opacity 0.1s ease-out 0.2s;
  transition: left 0.3s ease-out, opacity 0.1s ease-out 0.2s;
}
.l-contact__button:hover a {
  color: #fafafa;
}
.l-contact__button:hover a::before {
  left: 0;
  z-index: -1;
}
.l-contact__button:hover::after {
  background-color: #fafafa;
  left: 10px;
  z-index: 2;
}

.l-contact__img {
  margin-top: 74px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.l-footer {
  background: #eee7e2;
  padding: 70px 0;
}
@media screen and (min-width: 768px) {
  .l-footer {
    padding: 80px 0;
  }
}

.l-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .l-footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .l-footer__contents {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 12px;
  }
}

.l-footer__logo img {
  width: 189px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.l-footer__logo:hover img {
  opacity: 0.6;
}

.l-footer__sns {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .l-footer__sns {
    margin-top: 36px;
  }
}

.l-footer__sns-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fafafa;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.l-footer__sns-link img {
  width: 22px;
}
.l-footer__sns-link:hover {
  opacity: 0.6;
}

.l-footer__nav-list {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.375rem, -2.0535714286rem + 5.0595238095vw, 2.5rem);
}
@media screen and (min-width: 768px) {
  .l-footer__nav-list {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.l-footer__nav-item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .l-footer__nav-item {
    padding-top: 17px;
  }
}
.l-footer__nav-item a {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  text-decoration: none;
  font-size: clamp(0.875rem, 0.8035714286rem + 0.1488095238vw, 0.9375rem);
}
.l-footer__nav-item a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #724000;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.l-footer__nav-item a:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.l-footer__bottom {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .l-footer__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-footer__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(0.375rem, -0.9107142857rem + 2.6785714286vw, 1.5rem);
}
@media screen and (min-width: 768px) {
  .l-footer__bottom-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.l-footer__bottom-item {
  position: relative;
}
.l-footer__bottom-item a {
  font-family: "Noto Sans JP";
  font-size: 12px;
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  text-decoration: none;
}
.l-footer__bottom-item a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #724000;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.l-footer__bottom-item a:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.l-footer__bottom-copyright {
  font-family: "Noto Sans JP";
  font-size: 13px;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .l-footer__bottom-copyright {
    margin-top: 0;
  }
}