@use "sass:map";

$font-family-main: "Noto Sans JP", "Noto Sans";
$font-family-sub: "Sawarabi Gothic";
$font-family-logo: "Poiret One";
$font-family-en: "Dawning of a New Day";

$main-color: #724000;
$sub-color: #c2ae96;
$white: #fafafa;
$beige: #eee7e2;
$light-gray: #ededed;
$green: #afc3b2;

$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

//768px~1440pxの範囲でのクランプ
@function cal-clamp($min, $max, $min-view-port: 768, $max-view-port: 1440) {
  $variable-part: calc(($max - $min) / ($max-view-port - $min-view-port));
  $constant: calc(($max - $max-view-port * $variable-part) / 16);
  $min-rem: calc($min / 16 * 1rem);
  $max-rem: calc($max / 16 * 1rem);
  $variable-rem: calc($constant * 1rem);
  $variable-vw: calc(100 * $variable-part * 1vw);

  @return clamp($min-rem, $variable-rem + $variable-vw, $max-rem);
}

//汎用クラス
.hidden-sp {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.hidden-pc {
  display: block;

  @include mq(md) {
    display: none;
  }
}

.hidden-sp-text {
  display: none;

  @include mq(md) {
    display: inline-block;
  }
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

picture {
  display: block;
}

body {
  font-family: $font-family-main;
  color: $main-color;
  p,
  a {
    font-weight: 400;
  }

  &.is-fixed {
    overflow: hidden;
  }
}

a {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

//共通クラス
.inner {
  max-width: calc(1200px + 30px * 2);
  padding-inline: cal-clamp(20, 30);
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-block: cal-clamp(64, 92.5);
}

.heading-title {
  font-size: cal-clamp(16, 40);
  font-family: $font-family-sub;
  position: relative;
  z-index: 0;
  text-align: center;
}

.heading-title-en {
  font-family: $font-family-en;
  font-size: cal-clamp(40, 100);
  line-height: 2;
  position: absolute;
  top: -22px;
  z-index: -1;
  color: $sub-color;

  @include mq(md) {
    top: -53px;
  }
}

.wave-item {
  height: cal-clamp(6.5, 27.5);
  width: 100%;
  position: relative;
  z-index: 1;
}

//フェードイン
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 1s ease;

  &.is-in-view {
    opacity: 1;
    transform: translateX(0);
  }
}

.wrapper {
  background: url("../img/background_img.png") no-repeat center center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  background-attachment: fixed;
}

//ヘッダー
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  font-family: $font-family-sub;
  transition: visibility 0.3s ease, background-color 0.3s ease,
    transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

  @include mq(md) {
    background: $beige;
  }

  &.header-follow {
    position: fixed;
    visibility: hidden;
    transform: translateY(-100%);
    transition: visibility 0.3s ease,
      transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    &.is-show {
      visibility: visible;
      transform: translateY(0);
    }
  }

  .drawer-open__wrapper {
    @include mq(md) {
      display: none;
    }
  }
}

.header-follow {
  @include mq(md) {
    .drawer-open__wrapper {
      display: block;
    }

    .header__nav {
      display: none;
    }
  }

  .header__inner {
    padding-top: cal-clamp(14, 24);
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: cal-clamp(14, 24);
  padding-bottom: 14px;

  @include mq(md) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header__logo,
.drawer-content__logo {
  font-size: cal-clamp(24, 32);
  line-height: 1.5;
  letter-spacing: cal-clamp(-0.456, -0.608);
  font-family: $font-family-logo;
  height: 100%;
}

.header__nav {
  display: none;

  @include mq(md) {
    display: flex;
  }
}

.header__nav-list {
  display: flex;
  gap: 24px;
  margin-right: 40px;
  font-size: 15px;
  align-items: center;
}

.header__nav-item {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;

  a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition: width 0.3s ease;
    }
  }
}

//ホバー時のサービス
.service__nav-link {
  &:hover {
    .service__item-link {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.service__item-link {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 230px;
  background-color: $beige;
  padding: 24px;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.service__item-link-wrapper {
  display: flex;
  gap: 24px;
}

.service-link__column {
  display: flex;
  flex-direction: column;
  gap: 16px;

  a {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 19px;
    position: relative;
    white-space: nowrap;

    &::after {
      content: ">";
      position: absolute;
      right: 0;
      bottom: auto;
      height: auto;
      color: $main-color;
    }
  }
}

.header__nav-contact {
}

.header__nav-contact-list {
  display: flex;
}

.header__nav-contact-item,
.drawer-contact__item {
  padding: 39px 52px 40px 62px;
  white-space: nowrap;
  &:nth-child(1) {
    background-color: $sub-color;
  }

  &:nth-child(2) {
    color: $white;
    background-color: $main-color;
    padding: 39px 42px 40px 42px;
  }
}

//ドロワー
.drawer-open__wrapper {
  z-index: 1000;

  @include mq(md) {
    position: absolute;
    right: 120px;
  }
}

.header__open {
  width: 24px;
  height: 16px;
  pointer-events: auto;
  position: relative;

  @include mq(md) {
    position: static;
  }

  &.is-checked {
    .header__btn-line {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 9px;
        left: 4px;
        transition: all 0.3s ease;
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
        top: 9px;
        left: 4px;
        transition: all 0.3s ease;
      }

      &:nth-child(3) {
        opacity: 0;
      }
    }
  }
}

.header__btn-line {
  width: 24px;
  height: 3px;
  position: absolute;
  left: 0;
  background: $main-color;
  display: block;
  margin-left: auto;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    width: 20px;
    top: 8px;
    margin-left: calc(24px - 20px);
  }

  &:nth-child(3) {
    width: 16px;
    top: 16px;
    margin-left: calc(24px - 16px);
  }
}

//ドロワーコンテンツ
.drawer__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $beige;
  background-attachment: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 900;
  padding-bottom: 40px;

  @include mq(md) {
    background: url("../img/background_img.png") no-repeat center center;
    padding-bottom: 0;
  }

  &.is-checked {
    transform: translateX(0);
  }
}

.drawer__inner {
  @include mq(md) {
    margin-top: 27px;
    display: flex;
    position: relative;
  }
}

.drawer-content__logo {
  padding-block: 14px;
}

.drawer-content__nav {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 40px;
  gap: 40px;

  @include mq(md) {
    margin-top: 0;
    margin-left: 330px;
  }
}

.drawer-contact__list {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  @include mq(md) {
    flex-direction: row;
  }
}

.drawer-contact__item {
  padding-block: 12px;
  text-align: center;

  &:nth-child(2) {
    margin-top: 12px;
    padding-block: 12px;

    @include mq(md) {
      margin-top: 0;
    }
  }
}

.drawer-content__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mq(md) {
    text-align: center;
    gap: 24px;
  }
}

.drawer-content__link {
  padding-bottom: 16px;
  border-bottom: 1px solid $sub-color;
  a {
    font-size: cal-clamp(15, 16);
    font-weight: bold;

    @include mq(md) {
      font-weight: normal;
    }
  }
}

.drawer__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  right: 20px;
}

.drawer__close-line {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background: $main-color;

  &:nth-child(1) {
    top: 12px;
    transform: rotate(45deg);
  }

  &:nth-child(2) {
    top: 14px;
    transform: rotate(-45deg);
  }
}

.drawer-animation__item {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  opacity: 0; /* 最初は透明 */

  &.is-animated {
    opacity: 1;
    animation: bird-animation 2s ease-in-out forwards; /* forwardsを追加して最後のフレームで停止 */
  }

  @keyframes bird-animation {
    0% {
      transform: translate(0, 0) scale(1);
    }
    5% {
      transform: translate(-150%, 10%) scale(1.2);
    }
    10% {
      transform: translate(-300%, 20%) scale(1.5);
    }
    15% {
      transform: translate(-350%, 30%) scale(1.6);
    }
    20% {
      transform: translate(-400%, 50%) scale(1.7);
    }
    25% {
      transform: translate(-450%, 100%) scale(1.8);
    }
    35% {
      transform: translate(-500%, 150%) scale(2);
    }
    50% {
      transform: translate(-600%, 200%) scale(2.4);
    }
    60% {
      transform: translate(-650%, 250%) scale(2);
    }
    75% {
      transform: translate(-800%, 300%) scale(1.5);
    }
    85% {
      transform: translate(-900%, 350%) scale(1.3);
    }
    100% {
      transform: translate(-1000%, 400%) scale(1.2);
    }
  }
}

//ファーストビュー
.fv {
  position: relative;
  width: 100%;

  .swiper {
    position: relative;
    margin-top: 31px;
    overflow: hidden;
    object-fit: cover;
    margin-right: 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 3s ease forwards;

    @include mq(md) {
      margin-top: 0;
      width: calc(1156 / 1200 * 100%);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .swiper-pagination {
    display: none !important;
    position: absolute;
    bottom: 50% !important;
    left: 26px !important;
    transform: translateY(50%);
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mq(md) {
      display: flex !important;
    }
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: $sub-color !important;
    opacity: 1 !important;

    &.swiper-pagination-bullet-active {
      background-color: $main-color !important;
    }
  }

  .swiper-slide {
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;

      @include mq(md) {
        min-height: 600px;
        height: 100%;
      }
    }
  }

  .slide-black {
    object-position: 80% center !important;
  }
}

.fv__inner {
}

.fv__lead {
  position: absolute;
  top: 219px;
  text-align: center;
  z-index: 2;
  color: $white;

  @include mq(md) {
    bottom: cal-clamp(80, 171);
    top: auto;
  }
}

.fv__lead-text {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include mq(md) {
    gap: 50px;
  }
}

.fv__lead-text-en {
  font-size: cal-clamp(37, 70);
  line-height: calc(19 / 37);
  letter-spacing: calc((50 / 1000) * 37px);
  font-weight: bold;

  @include mq(md) {
    line-height: calc(50 / 70);
    letter-spacing: calc((50 / 1000) * 70px);
  }
}

.fv__lead-text-ja {
  font-size: cal-clamp(30, 40);
  line-height: calc(50 / 30);
  letter-spacing: calc((50 / 1000) * 30px);
  font-weight: bold;

  @include mq(md) {
    line-height: calc(50 / 40);
    letter-spacing: calc((50 / 1000) * 40px);
  }
}

//スライダー
.fv__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fv-text__wrapper {
  position: absolute;
  top: 45%;
  right: 10.5%;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  z-index: 2;
}

.fv__heading {
  font-size: cal-clamp(16, 40);
  line-height: 1.2;
  font-family: $font-family-sub;

  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn-heading 3s ease forwards;
  text-wrap: nowrap;

  @include mq(md) {
    letter-spacing: 8px;
  }
}

@keyframes fadeIn-heading {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fv__heading1 {
  display: block;
}

.fv__heading2 {
  display: block;
  margin-top: 60px;

  @include mq(md) {
    margin-top: 231px;
    margin-right: 13px;
  }
}

.side-bar {
  display: none;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 49px;

  @include mq(md) {
    display: block;
  }
}

.side-bar__inner {
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar__contents-item {
  font-size: 12px;
  line-height: 1.2;
  writing-mode: vertical-rl;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.5;
  }

  a {
    color: $main-color;
  }
}

.side-bar-sns__wrapper {
  margin-top: 24px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.side-bar-sns__item {
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.5;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.side-bar-contact__link {
  margin-top: 8px;
  position: relative;
  background-color: $main-color;
  padding: 48px 16px 16px 16px;
  writing-mode: vertical-rl;
  transition: background-color 0.3s ease;
  overflow: hidden; /* アニメーション中に内容が溢れないようにする */
  z-index: 1;

  /* 初期状態の幅を設定 */
  width: 60px;
  height: auto; /* 高さは内容に合わせて自動調整 */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    z-index: -1;
    transition: left 0.3s ease-out, opacity 0.1s ease-out 0.2s;
  }

  &:hover {
    background-color: transparent;
    width: 60px; /* ホバー時に横に広がる */

    &::before {
      left: 100%;
      opacity: 0;
    }

    &::after {
      transform: translate(3px, -3px);
      background-image: url("../img/contact-link_plane-hover.png");
    }

    a {
      color: $main-color;
      opacity: 1;
    }
  }

  a {
    color: $white;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 2px;
    transition: color 0.3s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 18px;
    width: 24px;
    height: 24px;
    background: url("../img/contact-link_plane.png") no-repeat center center;
    background-size: contain;
  }
}

//ニュースセクション
.news {
}

.news__inner {
  position: relative;
  text-align: center;

  @include mq(md) {
    padding-bottom: 80px;
  }

  @include mq(xl) {
    padding-bottom: 0;
  }
}

.news-content__wrapper {
  display: flex;
  flex-direction: column;
  gap: cal-clamp(24, 60);

  @include mq(md) {
    flex-direction: row;
  }
}

.news__heading {
  @include mq(md) {
    text-align: left;
  }
}

.news__heading-en {
  right: 36%;
}

.news__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align-last: left;
}

.news__item {
  a {
    display: flex;
    gap: 12px;

    @include mq(md) {
      gap: 52px;
    }
  }
}

.news__date {
  font-size: cal-clamp(14, 16);
  font-weight: 700;
  letter-spacing: 0.64px;

  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.news__title {
  font-size: cal-clamp(14, 16);
  letter-spacing: 1.8;
}

.link__button {
  position: relative;
  display: inline-block;
  background-color: $main-color;
  color: $white;
  padding: 13px 48px 13px 83px;
  overflow: hidden;
  z-index: 101;
  transition: width 0.78s cubic-bezier(0, 1.02, 0.91, 1.01),
    background-color 0.4s ease-in-out, color 0.4s ease-in-out;

  a {
    display: block;
    color: inherit;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    z-index: -1;
    transition: left 0.78s cubic-bezier(0.25, 1, 0.5, 1),
      opacity 0.3s ease-in-out;
  }

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "";
    display: inline-block;
    width: 32px;
    height: 1px;
    background-color: $white;
    transition: background-color 0.3s ease-in-out, left 0.3s ease-out;
  }

  // **ホバー時の動き**
  &:hover {
    color: $main-color;
    background-color: transparent;

    &::before {
      left: 100%;
      opacity: 0;
      transition: left 0.78s cubic-bezier(0, 1.02, 0.91, 1.01),
        opacity 0.78s ease-in-out 0.1s;
    }

    &::after {
      background-color: $main-color;
      left: 30px;
    }
  }

  // **ホバーを外したときの戻り調整**
  &:not(:hover) {
    &::before {
      left: 0;
      opacity: 1;
      transition: left 0.78s cubic-bezier(0, 1.02, 0.91, 1.01),
        opacity 0.3s ease-in-out 0.1s;
    }

    color: $white;
    background-color: $main-color;
    opacity: 1;
    transition: background-color 0.78s ease;
  }
}

.news-link__button {
  margin-top: 16px;
  padding: 13px 34px 13px 45px;
  margin-inline: auto;

  @include mq(md) {
    margin-right: 56px;
    padding: 13px 48px 13px 83px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

//コンセプトセクション
.concept {
}

.concept__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.concept-animation__item {
  position: absolute;
}

.concept-animation__item--1 {
  top: -5%;
  right: -100px; /* 初期位置を画面の外（右端）にする */

  &.is-animated {
    animation: fly 2s linear forwards 1;
  }

  img {
    width: 116.3px;
    height: 53.81px;
    transform: rotate(18.326deg);
    aspect-ratio: 116.3/53.81;
  }
}

.concept-animation__item--2 {
  top: 50%;
  right: 15%;

  &.is-animated {
    animation: floating-2 4s linear forwards;
  }

  img {
    width: 111.933px;
    height: 46px;
    aspect-ratio: 111.93/46;
  }
}

.concept-animation__item--3 {
  top: 25%;
  left: 15%;

  &.is-animated {
    animation: floating-1 4s linear forwards;
  }

  img {
    width: 65.692px;
    height: 61px;
    aspect-ratio: 65.69/61;
  }
}

.concept-animation__item--4 {
  top: 70%;
  left: 20%;

  &.is-animated {
    animation: floating-1 4s linear forwards;
  }

  img {
    width: 70.56px;
    height: 36px;
    aspect-ratio: 70.56/36;
  }
}

@keyframes floating-1 {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    transform: translateX(-30px) translateY(100px) rotate(-10deg);
  }
  50% {
    transform: translateX(100px) translateY(200px) rotate(10deg);
  }
  75% {
    transform: translateX(-50px) translateY(300px) rotate(-10deg);
  }
  100% {
    transform: translateX(0) translateY(400px) rotate(0deg);
  }
}

@keyframes floating-2 {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  10% {
    transform: translateX(-45px) translateY(120px) rotate(-10deg);
  }
  40% {
    transform: translateX(45px) translateY(220px) rotate(10deg);
  }
  80% {
    transform: translateX(-45px) translateY(340px) rotate(-10deg);
  }
  100% {
    transform: translateX(0) translateY(500px) rotate(0deg);
  }
}

@keyframes floating-3 {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  10% {
    transform: translateX(50px) translateY(100px) rotate(20deg);
  }
  40% {
    transform: translateX(-45px) translateY(220px) rotate(-10deg);
  }
  80% {
    transform: translateX(45px) translateY(440px) rotate(10deg);
  }
  100% {
    transform: translateX(0) translateY(600px) rotate(0deg);
  }
}

@keyframes fly {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    transform: translateX(-25vw) translateY(30px) rotate(-5deg);
  }
  50% {
    transform: translateX(-50vw) translateY(-30px) rotate(-10deg);
  }
  75% {
    transform: translateX(-75vw) translateY(20px) rotate(-15deg);
  }
  100% {
    transform: translateX(-100vw) translateY(-50px) rotate(-20deg);
  }
}

.concept__heading-message {
  font-size: cal-clamp(14, 20);
  line-height: 2;
  text-align: center;
  max-width: 472px;
}

.concept__img {
  margin-top: cal-clamp(64, 131);
  max-width: 851px;
}

//サービスセクション
.service {
  background-image: linear-gradient(to bottom, transparent, $beige);
  position: relative;
}

.service-decoration {
  position: absolute;
  bottom: 5%;
  left: -29%;
  min-width: 120px;
  z-index: 0;

  img {
    min-width: 120px;
    width: calc(722 / 1440 * 100%);
    height: 100%;
  }

  &.is-checked {
    animation: slideIn 1s ease forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.service__inner {
  max-width: calc(800px + 30px * 2);
  text-align: center;
}

.service__heading {
}

.service__heading-en {
  right: 24%;
}

.service-content__wrapper {
  margin-top: cal-clamp(50, 111);
  display: flex;
  flex-direction: column;
  gap: cal-clamp(50, 107);
}

.service-content__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;

  img {
    border-radius: 8px;
  }
}
.service-content__item.odd {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s ease;

  &.is-animated {
    opacity: 1;
    transform: translateX(0);
  }

  .service-content__img {
    margin-left: auto;
  }
}

.service-content__item.even {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease;
  &.is-animated {
    opacity: 1;
    transform: translateX(0);
  }

  .service-content__img {
    margin-right: auto;
  }

  .service-content__title {
    right: auto;
    left: 0;
  }

  .service__link {
    left: 2%;
  }
}

.service-content__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 0px 10px #f5f5f5;
  position: absolute;
  top: -12%;
  right: 0;

  @include mq(md) {
    top: -51px;
  }
}

.service-content__title-number {
  font-size: 30px;

  @include mq(sm) {
    font-size: 70px;
  }

  @include mq(md) {
    font-size: 70px;
  }
}

.service-content__title-ja {
  font-size: 20px;
  line-height: 1.16;
  writing-mode: vertical-rl;
  letter-spacing: 2px;

  @include mq(sm) {
    font-size: 50px;
  }

  @include mq(md) {
    font-size: 50px;
  }
}

.service-content__img {
  width: calc(638 / 800 * 100%);

  img {
    height: auto;

    @include mq(md) {
      height: 425px;
    }
  }
}

.service__link {
  width: cal-clamp(24, 54);
  height: cal-clamp(24, 54);
  position: absolute;
  right: 2%;
  bottom: 2%;
  background-image: url("../img/arrow-icon.png");
  background-size: contain;
  transition: background-color 0.3s ease;

  &:hover {
    opacity: 0.7;
    .arrow {
      transform: translate(-25%, -50%) rotate(45deg);
    }
  }
}

.service-link__button {
  margin-top: cal-clamp(32, 87);
}

.service-wave {
  background-color: #ededed;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background-wave-service.png");
    background-size: contain;
  }
}

//ギャラリーセクション
.gallery {
  position: relative;
  background-color: $light-gray;
}

.gallery__inner {
}

.gallery__heading-en {
  right: 32%;
}

.gallery__slider {
  overflow: visible;
  margin-inline: calc(50% - 50vw);

  @include mq(md) {
    margin-top: 142px;
  }

  .swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide.even {
    margin-top: 44px;
  }

  img {
    height: auto;
  }
}

.gallery-sns__link {
  margin-top: cal-clamp(24, 106);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gallery-sns__link-text {
  font-size: cal-clamp(16, 20);
  line-height: 1.2;
}

.gallery-sns__link-wrapper {
  display: flex;
  gap: 16 px;
}

.gallery-sns__link-icon {
  width: cal-clamp(32, 48);
  height: cal-clamp(32, 48);
}

.gallery-wave {
  background-color: $green;

  &::before {
    content: "";
    position: absolute;
    bottom: 0.5px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background-wave-gallery.png");
    background-size: contain;
  }
}

//スタッフセクション
.staff {
  padding-top: 52.5px;
  background-color: $green;
  padding-bottom: 65px;
}

.staff__inner {
}

.staff__heading {
}

.staff__heading-en {
  right: 32%;
}

.staff__heading-message {
  margin-top: 24px;
  text-align: center;
}

.staff-content__wrapper {
  margin-top: cal-clamp(24, 80);
  display: flex;
  flex-direction: column;
  gap: cal-clamp(24, 69);
  align-items: center;

  @include mq(md) {
    flex-direction: row;
  }
}

.staff-content__item {
  flex: 1;
  width: calc(248 / 335 * 100%);

  @include mq(md) {
    width: auto;
  }
}

.staff-wave {
  background-color: $light-gray;

  &::before {
    content: "";
    position: absolute;
    bottom: 0.5px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background-wave-staff.png");
    background-size: contain;
  }
}

.access {
  background-color: $light-gray;
}

.access__heading-en {
  right: 32%;
}
// max-widthの指定はスタッフの写真と幅を合わせる為
.access-content__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: cal-clamp(24, 168);
  max-width: calc(248 / 335 * 100%);

  margin-inline: auto;

  @include mq(md) {
    flex-direction: row;
    gap: cal-clamp(24, 64);
    max-width: 100%;
  }
}

.access-content__left {
  display: flex;
  gap: cal-clamp(24, 90);
  flex-direction: column;

  @include mq(xl) {
    width: calc(482 / 750 * 100%);
  }
}

.access-content__logo {
  font-size: 32px;
  font-family: $font-family-logo;
  line-height: 1.5;
  letter-spacing: -0.608px;
  text-align: center;

  @include mq(md) {
    text-align: left;
  }
}

.access-content__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  font-size: cal-clamp(15, 18);
  line-height: 1.4;
}

.access-content__info-item {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
    gap: 35px;
  }

  dt {
    width: 126px;
  }
}

.access-content__right {
  display: flex;
  flex-direction: column;
  gap: cal-clamp(24, 148);
}

.access-content__map {
  @include mq(xl) {
    margin-right: 225px;
  }
}

.access-content__map-text {
  font-size: 12px;
  line-height: 1.4;
  text-align: right;
  margin-top: 8px;
}

.access-content-text__wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 18px;
  line-height: 1.7;
}

.access-content__text {
  letter-spacing: 1.62px;
  font-size: 12px;
}

//こりんさんのコード

.contact {
  padding-top: 80px;
  background-color: $beige;
  padding-bottom: 60px;
}

.contact__inner {
  display: flex;
  align-items: center;
  max-width: 838px;
  justify-content: space-between;
}

.contact-form-text__wrapper {
}

.contact-form__text {
  font-size: 32px;
  letter-spacing: 1.28px;
}

.contact-form__sub-text {
  font-size: 20px;
  letter-spacing: 0.8px;
}

.contact-link__button {
  text-wrap: nowrap;
}

// contact
.l-contact__head,
.l-contact__button {
  opacity: 0;
}

// contact head のアニメーション
@keyframes view-slidein-r {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes view-slidein-l {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* is-active クラスが付いたらアニメーションを実行 */
.l-contact.is-active .l-contact__head {
  animation: view-slidein-l 0.8s ease-out both;
}

.l-contact.is-active .l-contact__button {
  animation: view-slidein-r 0.8s ease-out both;
}

.l-contact {
  background: $beige;
  padding-top: cal-clamp(64, 80);
}

.l-contact__inner {
}

.l-contact__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(120px / 1200px * 100%);

  @include mq(md) {
    flex-direction: row;
  }
}

.l-contact__head {
  display: flex;
  align-items: center;
  gap: 9px;

  @include mq(md) {
    align-items: baseline;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.l-contact__head-text {
  color: $main-color;
}

.l-contact__head-en {
  font-family: "Noto Sans";
  font-size: cal-clamp(20, 32);
  font-weight: 500;
  letter-spacing: 1.28px;
}

.l-contact__head-ja {
  margin-top: 5px;
  font-size: cal-clamp(16, 20);
  font-weight: 400;
  letter-spacing: cal-clamp(0.64, 0.8);

  @include mq(md) {
    margin-top: 0;
  }
}

.l-contact__button {
  position: relative;
  margin-top: 23px;
  @include mq(md) {
    margin-top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: cal-clamp(20, 32);
    height: 1px;
    background: $main-color;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: background-color 0.3s, left 0.3s ease-out;
  }

  a {
    display: block;
    border: 1px solid $main-color;
    padding: 16px cal-clamp(30, 48);
    color: $main-color;
    text-align: center;
    font-family: "Noto Sans JP";
    font-weight: 500;
    line-height: 100%; /* 16px */
    overflow: hidden;
    z-index: 2;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: $main-color;
      z-index: -1;
      transition: left 0.3s ease-out, opacity 0.1s ease-out 0.2s;
    }
  }

  &:hover {
    a {
      color: $white;

      &::before {
        left: 0;
        z-index: -1;
      }
    }

    &::after {
      background-color: $white;
      left: 10px;
      z-index: 2;
    }
  }
}

.l-contact__img {
  margin-top: 74px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

// l-footer
.l-footer {
  background: $beige;
  padding: 70px 0;

  @include mq(md) {
    padding: 80px 0;
  }
}

.l-footer__inner {
}

.l-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.l-footer__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    align-items: flex-start;
    padding-top: 12px;
  }
}

.l-footer__logo {
  img {
    width: 189px;
    transition: all 0.4s ease;
  }

  &:hover {
    img {
      opacity: 0.6;
    }
  }
}

.l-footer__sns {
  margin-top: 42px;
  display: flex;
  gap: 16px;

  @include mq(md) {
    margin-top: 36px;
  }
}

.l-footer__sns-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $white;
  transition: all 0.4s ease;

  img {
    width: 22px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.l-footer__nav-list {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: cal-clamp(6, 40);

  @include mq(md) {
    margin-top: 0;
    flex-direction: row;
    align-items: baseline;
  }
}

.l-footer__nav-item {
  position: relative;

  @include mq(md) {
    padding-top: 17px;
  }

  a {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
    font-size: cal-clamp(14, 15);

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $main-color;
      transform: translateX(-50%) scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease-out;
    }

    &:hover {
      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}

.l-footer__bottom {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.l-footer__bottom-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: cal-clamp(6, 24);

  @include mq(md) {
    flex-direction: row;
  }
}

.l-footer__bottom-item {
  position: relative;

  a {
    font-family: "Noto Sans JP";
    font-size: 12px;
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $main-color;
      transform: translateX(-50%) scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease-out;
    }

    &:hover {
      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }
}

.l-footer__bottom-copylight {
  font-family: "Noto Sans JP";
  font-size: 13px;
  margin-top: 8px;
  @include mq(md) {
    margin-top: 0;
  }
}
